.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-bottom: 20px;
}

.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  display: flex;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
  margin-right: 16px;
}
